{% extends 'tasks/base.html' %}
{% block content %}
<h1 class="matrix-title"><b>TO DO LIST</b><span class="cursor">_</span></h1>
<p class="welcome">{{ welcome_message }}</p>
<div class="center-column">
	<form method="POST" action="/">
		{% csrf_token %}
		{{ form.title.errors }}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

	<a href="{% url 'import_tasks' %}">Importer</a>
	<form method="get" action="{% url 'search' %}"><label>Rechercher <input name="q"></label><button type="submit">Rechercher</button></form>
	<form method="post" action="{% url 'logout' %}">{% csrf_token %}<button type="submit">Déconnexion</button></form>
	<div class="todo-list">
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href = "{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href = "{% url 'delete' task.id %}">Delete</a>
			{% if task.complete == True %}
			<del>{{task.title}}</del>
			{% else %}
			<span>{{task.title}}</span>
			{% endif %}

		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
